<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="~{base :: head}"></head>
<meta charset="UTF-8">
<title>Acesso Restrito</title>
</head>
<body>
	<header th:replace="~{base :: header}"></header>

	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="text-center mb-5 mt-5">
				<h2>Depósitos</h2>
				<h6 class="text-dark">Realize transações seguras</h6>
			</div>
		</div>
		<div class="row d-flex justify-content-around mb-5">
			<a class="btn btn-outline-dark my-2 my-sm-0 " href="/client/login">Saques</a>
			<a class="btn btn-outline-secondary my-2 my-sm-0 "
				href="/transaction">Voltar</a>
		</div>
		<div class="justify-content-center mb-5">

		<!-- formulario pra depositar -->
		
		
		
		
		
		
		</div>
	</div>

	<div th:replace="fragments/footer :: footer" />
</body>
</html>