<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="~{base :: head}"></head>
<meta charset="UTF-8">
<title>Saques</title>
</head>
<body>
	<header th:replace="~{base :: header}"></header>

	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="text-center mb-5 mt-5">
				<h2>Saques</h2>
				<h6 class="text-dark">Realize transações seguras</h6>
			</div>
		</div>

		<div class="row justify-content-center mb-5">
			<div class="card col-3">
				<!-- formulario pra sacar -->
				<div class="form-inline m-2 py-4">
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<div class="input-group-text">Saldo</div>
						</div>
						<input type="number" class="form-control" id="saldo" disabled>
					</div>
				</div>

				<form id="formulario-saque" class="form-inline m-2"
					th:object="${transactionDto}" th:action="@{/transacao/saque}"
					method="POST">
					<label class="sr-only" for="quantia">Quantia a Sacar</label>
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">R$</div>
						</div>
						<input type="number" class="form-control" id="quantia"
							th:field="*{amount}" th:errorclass="is-invalid">
						<div th:errors="*{amount}" class="invalid-feedback mb-2">Erros
							na quantia a ser sacada.</div>
					</div>
					<button type="submit" class="btn btn-block botao-cor-especial mb-2">Sacar</button>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer" /></div>
</body>
</html>